.bg-gradient-animate {
  background: linear-gradient(-45deg, #fffeff, #f8dfff, #f8c6f4, #f8b5ef);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
